*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
/* ajuste de ima */
#mini-banners .col-12{
    padding: 1.5em;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    
}

@media(min-width:768px){
#mini-banners .col-12{
     min-width:30%;
    }

}

.anuncio{
    width: 15rem; border: 1px;
}
.anuncio img{
    width: 250px;
    height: 200px;
}
p{
    margin-top: 20px;
    height: auto;
    background-color:#f8f8f896;
}
h2{
    background-color:#f8f8f896;
   }
