*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    color:rgb(29, 28, 28);
    text-decoration: none;
    font-family:sans-serif ;
}
p{
    color: rgb(39, 34, 34);
    font-family:sans-serif ;
    font-size: 20px;
    padding: 10px;
  
   
}


body{
    background-color:#f8f8f896;
    color: rgb(14, 14, 14);
    text-align: center;   
}
header{
    width: 100%;
    background-color: #dbd8d8a1;
    display:block;
}
form{
    display: inline-block;
    position: relative;
}
.form-control{
    min-width:400px;
}

.primery-bg-color{
    background-color: #ffffff;
}
.secondary-bg-color{
    background-color:rgba(137, 137, 143, 0.913);
}
/* menu*/
.navbar-nav{
    font-weight: 800;
    text-align:center;
    width: 100%;
    margin:auto
    }
    
#navbar a,
#navbar button{
   color:rgb(0, 0, 0);
   }

@media(min-width:768px){
    .navbar-brand{
    text-align: left; 
}
.navbar-items{
    width: auto;
    position: center;
}
@media(min-width:768px){
    .navbar-items{
    min-width: 100%;
    }

}

/*navbar bottom*/
#bottom-navbar-container{
    font-weight: 700;
    color: #ffff;
    background-color: rgba(37, 37, 38, 0.404);    
}
#bottom-navbar-container a{
    color: rgba(255, 255, 255, 0.913);   
}
}
/* footer*/
li{
    list-style-type: none;
}
#footer{
    background-color:#dbd8d8a1;
    width: 100%;
}
#newsletter-container{

}
